// D E V
#dev
{
  display: none; visibility: hidden;
  font-size: 10px; line-height: 1.5;
  position: fixed; bottom:10px; left: 0; width: 100%;
  margin-left: 0;
  margin-right: 0;
  z-index: 1000;
  pointer-events: none;
  @include media-breakpoint-down(xs) { #size:after  { content:"phone (-xs)"; }}
  @include media-breakpoint-up(sm)   { #size:after  { content:"phone (-sm)"; }}
  @include media-breakpoint-up(md)   { #size:after  { content:"tablet (-md)"; }}
  @include media-breakpoint-up(lg)   { #size:after  { content:"desktop (-lg)"; }}
  @include media-breakpoint-up(xl)   { #size:after  { content:"wide desktop (-xl)"; }}
  @media (orientation: landscape)    { #size:before { content:"Landscape / "; }}
  @media (orientation: portrait)     { #size:before { content:"Portrait / ";  }}
  .row {
    text-align: center; margin-bottom:0 !important;
    > div {
      background-color: rgba(0, 255, 255, 0.3); box-shadow: 0 0 0 1px #0FF;
      > * {
        background-color: rgba(255, 255, 255, 0.7); overflow: hidden; height: 13px; }}}

  &.big {
    bottom:1px;
    #grid > div > * {
      height: calc(100vh - #{ 2 * 13px + 2px} ); }}

  .dev & { display: block; visibility: visible; }
}

[class*="dev--"] {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    background: transparent top left repeat;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .4;
    z-index: 10000;
    pointer-events: none;
  }
}
.dev--1rem::after {
  // Baseline 1rem
  background: repeating-linear-gradient(transparent, transparent calc(1rem - 0.5px), #e0e0e0 calc(1rem - 0.5px), #e0e0e0 calc(1rem + 0.5px));
}
.dev--32::after {
  // Baseline 32px
  background: repeating-linear-gradient(transparent, transparent calc(32px - 0.5px), #e0e0e0 calc(32px - 0.5px), #e0e0e0 calc(32px + 0.5px));
}
.dev--16::after {
  // Baseline 16px
  background: repeating-linear-gradient(transparent, transparent calc(16px - 0.5px), #e0e0e0 calc(16px - 0.5px), #e0e0e0 calc(16px + 0.5px));
}
.dev--13::after {
  // Baseline 13px
  background: repeating-linear-gradient(transparent, transparent calc(13px - 0.5px), #e0e0e0 calc(13px - 0.5px), #e0e0e0 calc(13px + 0.5px));
}
.dev--8::after {
  // Baseline 8px
  background: repeating-linear-gradient(transparent, transparent calc(8px - 0.5px), #e0e0e0 calc(8px - 0.5px), #e0e0e0 calc(8px + 0.5px));
}
